.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 2px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}